<launch>

    <node pkg="rosbag" type="record" name="record" output="screen" args="--all" respawn="true" respawn_delay="5"/>

    <include file="$(find seabot_regulation)/launch/seabot_driver.launch"/>

    <node name="depth_filter_node" pkg="fusion" type="depth_filter_node" output="screen" ns="fusion" respawn="true" respawn_delay="5">
    <param name="delta_time" value="1" />
            <param name="pressure_to_depth" value="10.0" />
            <param name="filter_size" value="3" />
            <param name="velocity_delta_size" value="5" />
            <param name="delta_time_velocity" value="1.0" />
    </node>

    <node pkg="diagnostic_aggregator" type="aggregator_node" name="diag_agg" >
        <rosparam command="load" file="$(find seabot_regulation)/diagnostic/seabot_analyzers.yaml" />
    </node>

</launch>