<launch>
	<node pkg="rosbag" type="record" name="record" output="screen" args="-j --split --size 1024 --all" respawn="true" respawn_delay="5"/>

	<include file="$(find seabot)/launch/driver.launch"/>
	<include file="$(find seabot)/launch/filter.launch"/>
	<include file="$(find seabot)/launch/kalman.launch"/>
</launch>
