<launch>

    <node pkg="rosbag" type="record" name="record" output="screen" args="--split --size 1024 --all" respawn="true" respawn_delay="5"/>

    <include file="$(find seabot)/launch/driver.launch"/>
    <include file="$(find seabot_fusion)/launch/filter.launch"/>
    <include file="$(find seabot_fusion)/launch/lambert.launch"/>

    <node pkg="diagnostic_aggregator" type="aggregator_node" name="diag_agg" >
        <rosparam command="load" file="$(find seabot)/diagnostic/seabot_analyzers.yaml" />
    </node>

</launch>
