<launch>
        <rosparam file="$(find seabot)/param/config_$(env HOSTNAME).yaml"/>
	<rosparam command="dump" file="~/.ros/mission_config.yaml" />

	<group ns="driver">
		<node name="power" pkg="seabot_power_driver" type="power_node" output="screen" ns="power" respawn="true" respawn_delay="5">
			<remap from="~frequency" to="/driver/power/frequency" />
		</node>

		<node name="piston" pkg="seabot_piston_driver" type="piston_node" output="screen" ns="piston" respawn="true" respawn_delay="5">
			<remap from="~frequency" to="/driver/piston/frequency" />
			<remap from="~distance_fast_move" to="/driver/piston/distance_fast_move" />
			<remap from="~speed_fast_move_factor" to="/driver/piston/speed_fast_move_factor" />
			<remap from="~speed_reset" to="/driver/piston/speed_reset" />
			<remap from="~speed_out_min" to="/driver/piston/speed_out_min" />
			<remap from="~speed_in_min" to="/driver/piston/speed_in_min" />
			<remap from="~speed_out_slope" to="/driver/piston/speed_out_slope" />
			<remap from="~speed_in_slope" to="/driver/piston/speed_in_slope" />
			<remap from="~speed_depth_layer" to="/driver/piston/speed_depth_layer" />
			<remap from="~depth_max" to="/driver/piston/depth_max" />
			<remap from="~speed_max" to="/driver/piston/speed_max" />
			<remap from="~reached_switch_off" to="/driver/piston/reached_switch_off" />
			<remap from="~error_interval" to="/driver/piston/error_interval" />
			<remap from="~tick_max" to="/driver/piston/tick_max" />
		</node>

		<node name="pressure_ext" pkg="pressure_89bsd_driver" type="pressure_89bsd_node" output="screen" respawn="true" respawn_delay="5">
			<remap from="~frequency" to="/driver/pressure_ext/frequency" />
		</node>

		<node name="pressure_int" pkg="pressure_bme280_driver" type="bme280_node" output="screen" respawn="true" respawn_delay="5">
			<remap from="~frequency" to="/driver/pressure_int/frequency" />
			<remap from="~primary_i2c_address" to="/driver/pressure_int/primary_i2c_address" />
		</node>

		<node name="temperature_ext" pkg="temperature_tsys01_driver" type="temperature_tsys01_node" output="screen" respawn="true" respawn_delay="5">
			<remap from="~frequency" to="/driver/temperature_ext/frequency" />
		</node>

		<node name="thruster" pkg="seabot_thruster_driver" type="thruster_node" output="screen" ns="thruster" respawn_delay="5">

			<remap from="~frequency" to="/driver/thruster/frequency" />
			<remap from="~coeff_cmd_to_pwm" to="/driver/thruster/coeff_cmd_to_pwm" />
			<remap from="~delay_stop" to="/driver/thruster/delay_stop" />
			<remap from="~allow_backward" to="/driver/thruster/allow_backward" />
                        <remap from="~thruster_left_pin" to="/driver/thruster/thruster_left_pin" />
                        <remap from="~thruster_right_pin" to="/driver/thruster/thruster_right_pin" />
			<remap from="~invert_left" to="/driver/thruster/invert_left" />
			<remap from="~invert_right" to="/driver/thruster/invert_right" />
			<remap from="~max_engine_change" to="/driver/thruster/max_engine_change" />

			<remap from="~max_angular_velocity" to="/driver/thruster/max_angular_velocity" />
			<remap from="~max_linear_velocity" to="/driver/thruster/max_linear_velocity" />
		</node>

		<node name="gpsd_client" pkg="gpsd_client" type="gpsd_client" output="screen">
		</node>

		<node name="imu_mpu9250" pkg="imu_mpu" type="imu_mpu9250" output="screen" respawn_delay="5">
			<remap from="~imu_type" to="/driver/imu/imu_type" />
			<remap from="~imu_frame" to="/driver/imu/imu_frame" />
			<remap from="~is_i2c" to="/driver/imu/is_i2c" />
			<remap from="~i2c_bus" to="/driver/imu/i2c_bus" />
			<remap from="~i2c_slave_address" to="/driver/imu/i2c_slave_address" />
			<remap from="~spi_speed" to="/driver/imu/spi_speed" />
			<remap from="~spi_select" to="/driver/imu/spi_select" />
			<remap from="~spi_bus" to="/driver/imu/spi_bus" />
			<remap from="~fusion_type" to="/driver/imu/fusion_type" />
			<remap from="~publish_euler" to="/driver/imu/publish_euler" />
			<remap from="~publish_magnetometer" to="/driver/imu/publish_magnetometer" />
			<remap from="~axis_rotation" to="/driver/imu/axis_rotation" />

			<remap from="~compass_sample_rate" to="/driver/imu/compass_sample_rate" />
			<remap from="~gyro_accel_sample_rate" to="/driver/imu/gyro_accel_sample_rate" />
			<remap from="~accel_low_pass_filter" to="/driver/imu/accel_low_pass_filter" />
			<remap from="~accel_full_scale_range" to="/driver/imu/accel_full_scale_range" />
			<remap from="~gyro_low_pass_filter" to="/driver/imu/gyro_low_pass_filter" />
			<remap from="~gyro_full_scale_range" to="/driver/imu/gyro_full_scale_range" />

			<remap from="~ellipsoid_offset" to="/driver/imu/ellipsoid_offset" />
			<remap from="~ellipsoid_matrix0" to="/driver/imu/ellipsoid_matrix0" />
			<remap from="~ellipsoid_matrix1" to="/driver/imu/ellipsoid_matrix1" />
			<remap from="~ellipsoid_matrix2" to="/driver/imu/ellipsoid_matrix2" />
			<remap from="~accel_min" to="/driver/imu/accel_min" />
			<remap from="~accel_max" to="/driver/imu/accel_max" />
			<remap from="~gyro_bias" to="/driver/imu/gyro_bias" />
			<remap from="~mag_declination" to="/driver/imu/mag_declination" />
		</node>

	</group>
</launch>
