<launch>
  <node name="lambert_node" pkg="seabot_fusion" type="lambert_node" output="screen" ns="fusion" respawn="true" respawn_delay="5">
								<param name="frequency" value="5" />
								<param name="nb_sample_mean" value="6" />
								<param name="nb_sample_between_heading" value="150" />
  </node>
</launch>
