<launch>
    <node name="sliding_node" pkg="seabot_depth_regulation" type="sliding_node" output="screen" ns="regulation" respawn="true" respawn_delay="5">
<!--        <param name="g" value="9.81" />
        <param name="rho_eau" value="1020.0" />
        <param name="C_f" value="0.1" />-->

        <param name="piston_diameter" value="50.0e-3" />
        <param name="tick_per_rotation" value="48" />
        <param name="screw_thread" value="1.75e-3" />

        <param name="frequency" value="1.0" />

        <param name="hysteresis_piston" value="0.6" />

        <param name="K_factor" value="0.2" />
<!--        K velocity value (old) : 600-->
        <param name="K_velocity" value="500.0" />
        <param name="K_acc" value="0.0" />

        <param name="set_point_following" value="10.0" />

        <param name="offset_piston" value="2220" />
        <param name="cf_x2" value="2.06936" />
        <param name="cf_x1" value="-76.6614" />
        <param name="max_depth_compression_validity" value="17.0" />

    </node>

<!--    <node name="waypoint_node" pkg="seabot_waypoint_regulation" type="waypoint_node" output="screen" ns="regulation" respawn="true" respawn_delay="5">
        <param name="frequency" value="10.0" />
        <param name="delta_valid_time" value="3.0" />
        <param name="coeff_P" value="1.0" />
        <param name="hysteresis_circle_in" value="10.0" />
        <param name="hysteresis_circle_out" value="30.0" />
        <param name="linear_speed" value="1.0" />
        <param name="depth_limit_switch_off" value="0.5" />
    </node>-->

</launch>

