<launch>
	<node name="safety_node" pkg="seabot_safety" type="safety_node" output="screen" ns="safety" respawn="true" respawn_delay="5">
		<remap from="~frequency" to="/safety/frequency"/>
		<remap from="~safety_depressure" to="/safety/safety_depressure"/>
		<remap from="~humidity_limit" to="/safety/humidity_limit"/>
		<remap from="~internal_pressure_detection" to="/safety/internal_pressure_detection"/>
		<remap from="~delta_volume_allowed" to="/safety/delta_volume_allowed"/>
		<remap from="~delta_ref_allowed" to="/safety/delta_ref_allowed"/>
		<remap from="~volume_ref" to="/safety/volume_ref"/>
		<remap from="~transition_tick_law" to="/safety/transition_tick_law"/>
		<remap from="~pressure_internal_max" to="/safety/pressure_internal_max"/>
		<remap from="~max_depth_reset_zero" to="/safety/max_depth_reset_zero"/>
		<remap from="~max_speed_reset_zero" to="/safety/max_speed_reset_zero"/>
		<remap from="~limit_piston_position_reset_depth" to="/safety/limit_piston_position_reset_depth"/>
		<remap from="~time_delay_zero_depth_condition" to="/safety/time_delay_zero_depth_condition"/>
		<remap from="~safety_pressure_limit" to="/safety/safety_pressure_limit"/>
		<remap from="~pressure_limit" to="/safety/pressure_limit"/>
		<remap from="~time_before_pressure_emergency" to="/safety/time_before_pressure_emergency"/>
		<remap from="~seafloor_detection" to="/safety/seafloor_detection"/>
		<remap from="~time_before_seafloor_emergency" to="/safety/time_before_seafloor_emergency"/>
		<remap from="~safety_battery" to="/safety/safety_battery"/>
		<remap from="~battery_limit" to="/safety/battery_limit"/>
		<remap from="~enable_flash" to="/safety/enable_flash"/>
		<remap from="~limit_depth_flash_enable" to="/safety/limit_depth_flash_enable"/>
		<remap from="~time_delay_batteries_msg" to="/safety/time_delay_batteries_msg"/>
		<remap from="~time_delay_internal_sensor_msg" to="/safety/time_delay_internal_sensor_msg"/>
		<remap from="~time_delay_external_sensor_msg" to="/safety/time_delay_external_sensor_msg"/>
		<remap from="~time_delay_depth_msg" to="/safety/time_delay_depth_msg"/>
		<remap from="~time_delay_piston_state_msg" to="/safety/time_delay_piston_state_msg"/>
		<remap from="~time_delay_euler_msg" to="/safety/time_delay_euler_msg"/>

		<remap from="~piston_max_value" to="/physics/piston_max_value" />
	</node>
</launch>

