<launch>
  <node name="depth_filter_node" pkg="seabot_fusion" type="depth_filter_node" output="screen" ns="fusion" respawn="true" respawn_delay="5">
  	<param name="frequency" value="5" />
    <param name="rho" value="1020.0" />
    <param name="g" value="9.81" />

    <param name="filter_median_size" value="6" />
    <param name="filter_mean_width" value="3" />
    <param name="filter_mean_width_velocity" value="5" />
    <param name="velocity_delta_size" value="5" />
    <param name="velocity_limit" value="0.5" />


  </node>
</launch>
